* {
    margin: 0;
    padding: 0;
}
body {
    .App {
        header {
            display: flex;
            #logo {
                cursor: pointer;
                user-select: none;
                color: white;
                font-size: 2em;
                font-weight: bolder;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
        }
        .country {
            padding: 1em;
            .article {
                cursor: pointer;
                user-select: none;
            }
        }
        footer {
            background-color: #001529;
            color: white;
        }
    }   
}